<configuration>

  <property name="fileName" value="myApp" />

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%msg%n</pattern>
    </encoder>
  </appender>

  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>${fileName}.log</file>
    <encoder>
      <pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
    </encoder>
  </appender>
  
  <appender name="SIFT" class="ch.qos.logback.classic.sift.SiftingAppender">
    <discriminator>
      <key>separator</key>
      <defaultValue>generic</defaultValue>
    </discriminator>
    <sift>
      <appender name="FILE-${userid}" class="ch.qos.logback.core.FileAppender">
        <file>${fileName}-${separator}.log</file>
        <append>false</append>
        <layout class="ch.qos.logback.classic.PatternLayout">
          <pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
        </layout>
      </appender>
    </sift>
  </appender>

  <root level="debug">
    <appender-ref ref="STDOUT" />
    <!-- <appender-ref ref="FILE" /> -->
    <appender-ref ref="SIFT" />
  </root>

</configuration>